<!DOCTYPE html>
<html>
<head>
  <title>Bonafide Request</title>
  <link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js" defer></script>

</head>
<body>
  <h2>Request Bonafide Certificate</h2>
  <form method="POST" action="/student/request">
    <!-- <label>Purpose:</label><br>
    <input type="text" name="purpose"required><br><br> -->
    <label for="para">Enter your paragraph:</label><br>
<textarea id="para" name="para" rows="6" cols="50" placeholder="Type your paragraph here..."></textarea>
    <input type="text" name="name" placeholder="Eg: Thaara S"required>
    <input type="number" name="register number" placeholder="Eg: 230371772318161"required>
   <label for="category">Year</label>
<select id="category" name="category">
  <option value="">--Select--</option>
  <option value="I">I</option>
  <option value="II">II</option>
    <option value="III">III</option>
  <option value="IV">IV</option>
</select>

   <label for="category">Branch</label>
<select id="category" name="category">
  <option value="">--Select--</option>
  <option value="it">Information Technology</option>
  <option value="cse">Computer Science</option>
    <option value="mech">Mechanical</option>
  <option value="civil">Civil</option>
</select>

   <label for="category">COURSE</label>
<select id="category" name="category">
  <option value="">--Select--</option>
  <option value="be">BE</option>
  <option value="btech">BTECH</option>
 
</select>

    <button type="submit">Submit Request</button>
  </form>
</body>
</html>
